$app-black: #000000;
$app-dark: #323232;
$app-white: #ffffff;
$app-light: #e8eef8;
$app-grey: #6c757d;
$app-blue-dark: #1a2b49;
$app-blue-light: #5086ea;
$app-primary: #5086ea;
$app-primary-dark: #0b5ed7;
$app-red: #ff4343;
$app-red-dark: #cc3c3c;
$app-green: #60c94f;
$app-green-dark: #198754;
