.contact-page {
	.map-wrapper {
		width: 100%;
		height: 650px;
		position: relative;
	}

	.contact-branch-select-wrapper {
		position: absolute;
		width: 350px;
		z-index: 5;
		top: 0;
		left: 0;
		background-color: $app-white;
		padding: 2rem;
	}

	.contact-branch-info {
		position: absolute;
		width: 350px;
		z-index: 5;
		bottom: 0;
		right: 0;
		background-color: $app-white;
		padding: 1.5rem 1.75rem;

		.contact-branch-info--single {
			.contact-info-label {
				margin-bottom: 0;
				font-size: 1rem;
				font-weight: 600;
				text-transform: uppercase;
				color: $app-primary;
			}
		}
	}
}
